<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.banne.mapper.ProductSkuMapper">

    <select id="findTop10ProductSkuBySale" resultType="org.example.model.entity.product.ProductSku">
        select *
        from product
                 left join product_sku on product.id = product_sku.product_id

        where product.`status` = 0
          and product.audit_status = 0
          and product.is_deleted = 0
          and product_sku.is_deleted = 0

        order by product_sku.sale_num DESC limit 0,10;
    </select>
</mapper>